.pricing{
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
.pricing .section-header{
    margin-bottom: 65px;
}
.pricing .section-header h3, .pricing .section-header p{
    color: #fff;
}
.pricing .pricingItem{
    margin-bottom: 20px;
}
.pricing .pricingItem.first .pricingHeader{
    background-color: #92278f;
}
.pricing .pricingItem.second .pricingHeader{
    background-color: #ff9822;
}
.pricing .pricingItem.third .pricingHeader{
    background-color: #65ac4c;
}
.pricing .pricingItem .pricingHeader{
    overflow: hidden;
    padding: 36px 30px;
}
.pricing .pricingItem .pricingHeader .name{
    color: #fff;
    display: inline-block;
    padding: 5px 0px;
}
.pricing .pricingItem .pricingHeader .amount{
    color: #fff;
    float: right;
}
.pricing .pricingItem .pricingOptions{
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid #f0f0f0;
}
.pricing .pricingItem .pricingOptions p{
    font-size: 15px;
    line-height: 1;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #696969;
    border-bottom: 1px solid #f0f0f0;
}
.pricing .pricingItem .pricingOptions p:last-child{
    border: none;
    margin: 0px;
    padding: 0px;
}
.pricing .pricingItem .pricingOptions p span{
    color: #fff;
    background-color: #65ac4c;
    height: 16px;
    width: 16px;
    font-size: 12px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
    border-radius: 100%;
    margin-right: 20px;
}
.pricing .pricingItem .pricingOptions p span.off{
    background-color: #c9c9c9;
}
.pricing .pricingItem .pricingButton{
    padding: 25px 30px;
    background-color: #fff;
}
.pricing .pricingItem .pricingButton a{
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.pricing .pricingItem.first .pricingButton a{
    color: #92278f;
}
.pricing .pricingItem.second .pricingButton a{
    color: #ff9822;
}
.pricing .pricingItem.third .pricingButton a{
    color: #65ac4c;
}
.pricing-two{
}
.pricing-two .pricingItem.first .pricingOptions{
    border-left: 10px solid #92278f;
    border-bottom: none;
}
.pricing-two .pricingItem.first .pricingOptions{
    border-right: 10px solid #92278f;
}
.pricing-two .pricingItem.second .pricingOptions{
    border-left: 10px solid #ff9822;
    border-bottom: none;
}
.pricing-two .pricingItem.second .pricingOptions{
    border-right: 10px solid #ff9822;
}
.pricing-two .pricingItem.third .pricingOptions{
    border-left: 10px solid #65ac4c;
    border-bottom: none;
}
.pricing-two .pricingItem.third .pricingOptions{
    border-right: 10px solid #65ac4c;
}
.pricing-two .pricingItem .pricingOptions p span{
    float: right;
    margin: 0px;
}
.pricing-two .pricingItem .pricingButton a{
    display: block;
    text-align: center;
    color: #fff!important;
}
.pricing-two .pricingItem.first .pricingButton{
    background-color: #92278f;
}
.pricing-two .pricingItem.second .pricingButton{
    background-color: #ff9822;
}
.pricing-two .pricingItem .pricingButton{
    background-color: #65ac4c;
}
.pricing-three{
}
.pricing-three .pricingItem{
    margin-bottom: 30px;
    overflow: hidden;
}
.pricing-three .pricingItem .pricingHeader{
    width: 37%;
    float: left;
    padding: 30px 20px;
}
.pricing-three .pricingItem.first .pricingHeader{
    background-color: #65ac4c;
}
.pricing-three .pricingItem.second .pricingHeader{
    background-color: #ff9822;
}
.pricing-three .pricingItem.third .pricingHeader{
    background-color: #f5b429;
}
.pricing-three .pricingItem.fourth .pricingHeader{
    background-color: #92278f;
}
.pricing-three .pricingItem .pricingHeader .name{
    font-size: 24px;
    text-align: center;
    display: block;
}
.pricing-three .pricingItem .pricingHeader .amount{
    display: block;
    float: initial;
    font-size: 72px;
    line-height: 2.34;
    text-align: center;
}
.pricing-three .pricingItem .pricingHeader a{
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 0px;

}
.pricing-three .pricingItem .pricingOptions{
    width: 63%;
    float: left;
    border: 10px solid #fafafa;
    border-left: none;
    padding: 0px;
    position: relative;
}
.pricing-three .pricingItem .pricingOptions > div{
    border: 1px solid #f0f0f0;
    padding: 20px;
}
.pricing-three .pricingItem .pricingOptions:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 10px;
    background-color: #65ac4c;
}
.pricing-three .pricingItem .pricingOptions:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 40px;
    height: 10px;
    background-color: #65ac4c;
}
.pricing-three .pricingItem.second .pricingOptions:before, .pricing-three .pricingItem.second .pricingOptions:after{
    background-color: #ff9822;
}
.pricing-three .pricingItem.third .pricingOptions:before, .pricing-three .pricingItem.third .pricingOptions:after{
    background-color: #f5b429;
}
.pricing-three .pricingItem.fourth .pricingOptions:before, .pricing-three .pricingItem.fourth .pricingOptions:after{
    background-color: #92278f;
}
.pricing-three .pricingItem .pricingOptions p{
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.pricing-three .pricingItem .pricingOptions p span{
    float: right;
}
.pricing-three .pricingItem .pricingButton{
    display: none;
    background-color: #65ac4c;
    text-align: center;
}
.pricing-three .pricingItem.second .pricingButton{
    background-color: #ff9822;
}
.pricing-three .pricingItem.third .pricingButton{
    background-color: #f5b429;
}
.pricing-three .pricingItem.fourth .pricingButton{
    background-color: #92278f;
}
.pricing-three .pricingItem .pricingButton a{
    color: #fff!important;
}
.pricing-four{
}
.pricing-four .overlay{
    background-color: rgba(27,36,49,.9);
}
.pricing-four .section-header p{
    color: #aeaeae;
}
.pricing-page{
    background: #fff;
}
.pricing-five{
}
.pricing-five .overlay{
    background: rgba(0,0,0,.5);
}
.pricing-six{
}
.pricing-six .pricingItem.first .pricingHeader{
    background-color: #e84b3a;
}
.pricing-six .pricingItem.second .pricingHeader{
    background-color: #fc7f0c;
}
.pricing-six .pricingItem.third .pricingHeader{
    background-color: #f5b429;
}
.pricing-six .pricingItem.first .pricingOptions p span{
    background-color: #e84b3a;
}
.pricing-six .pricingItem.second .pricingOptions p span{
    background-color: #fc7f0c;
}
.pricing-six .pricingItem.third .pricingOptions p span{
    background-color: #f5b429;
}
.pricing-six .pricingItem .pricingOptions p span.off{
    background-color: #c9c9c9;
}
.pricing-six .pricingItem.first .pricingButton a{
    color: #e84b3a;
}
.pricing-six .pricingItem.second .pricingButton a{
    color: #fc7f0c;
}
.pricing-six .pricingItem.third .pricingButton a{
    color: #f5b429;
}
